.sidebar-container.dark {
    position: sticky;
    top: 0;
}
.sidebar-container.light {
    position: sticky;
    top: 0;
}
.ps-sidebar-container{
    min-height: 100vh !important;
}
.sidebar-container.light .ps-sidebar-container {
    background-color: #0E382F;
}
.sidebar-container.dark .ps-sidebar-container {
    background-color: #000;
}
.sidebar-container .ps-menu-root {
    /* height: calc(100vh - 55px); */
    /* background-color: #0E382F; */
    padding-top: 50px;
}
.sidebar-container .ps-menu-button:hover {
    background: transparent !important;
}
.sidebar-container .ps-menu-button {
    transition: 0.5s;
}
.sidebar-container .ps-menu-button .ps-menu-icon{
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}
.sidebar-container .ps-menu-button .ps-menu-label {
    color: #fff;
    transition: 0.5s;
}
.sidebar-container .ps-menu-button .ps-menu-label:hover {
    color: #EF9B28 !important;
}
.sidebar-container .ps-menu-button .ps-menu-icon:hover {
    color: #EF9B28 !important;
}
.sidebar-container .icon-left {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #EF9B28;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
.sidebar-container .icon-left img {
    padding-bottom: 5px;
    width: 20px;
}
.sidebar-container .icon-right {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #EF9B28;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
.sidebar-container .ps-menuitem-root.ps-active {
  background-color: #EF9B284D; 
  color: white;
}